.cadastro {
    background-image: url('../../fundo1.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.tamanho{
    width: 500px;
    height: 100%;
    margin: auto;
}

.mensagem{
    margin-top: 15px;
    font-size: 30px;
    color: gold;
    font-weight: bolder;
    font-family: "Comic Sans MS"; 
    text-shadow: 1px 1px 1px black;
}

.mensagem p{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 25px;
}


.form{
    width: 400px;
    height: 415px;
    margin: 0 auto;
    background-color: rgba(241, 219, 16, 0.877);
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

label{
    font-size: 16px;
    color: black;
    margin-left: 20px;
    font-family: "Comic Sans MS"; 
}

.inputs{
    text-align: center;
}

.form-field{
    width: 350px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: none;
}

.button{
    background-color: #292B2A;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-family: "Comic Sans MS"; 
}

@media screen and (min-width: 300px) and (max-width: 415px){
    .cadastro{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tamanho{
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mensagem{
        width: 95%;
        font-size: 20px;
        align-items: center;
        margin-top: 10px;
        text-align: center;
    }
    p{
        font-size: 12px;
    }
    .form{
        width: 95%;
        height: 350px;
        margin-top: 5px;
        font-size: 15px;
    }
    .form-field{
        width: 90%;
        margin-bottom: 8px;
        height: 25px;
    }

}

@media screen and (min-width: 416px) and (max-width: 530px){
    .cadastro{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tamanho{
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mensagem{
        width: 95%;
        font-size: 25px;
        align-items: center;
        margin-top: 15px;
    }
    p{
        font-size: 16px;
    }
    .form{
        width: 80%;
        height: 415px;
        margin-top: 5px;
        font-size: 20px;
    }
    .form-field{
        width: 90%;
        height: 30px;
        margin-bottom: 10px;
    }

}


