@font-face {
   font-family: 'Pokemon Solid';
   src: url('Pokemon\ Solid.ttf');
}
#titulo {
position: absolute;
left: 33%;
bottom: 89%;
   font-size: 80px;
   font-family: 'Pokemon Solid';
   color: rgb(226, 226, 47);
   text-shadow: 4px 7px 4px midnightblue;
   letter-spacing: 5px;
}
#img {
   background-image: url('./header.jpg');
   position: absolute;
   top: 0;
   bottom: 90%;
   height: 130px;
   width: 100%;
   border-bottom-style: solid;

   border-bottom-color: yellow;
   border-bottom-width: 5px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius:5px;
   clear: both;
}
#suporte{
   height: 5%;
   width: 8%;
   background-image: linear-gradient(150deg, yellow, white, yellow);
   position: absolute;
   right: 3%;
   top: 5%;
   border-style:solid;
   border-width: 5px;
   border-color: black;
   border-radius: 10px;
}

#suportetexto{
   font-family: 'Comic Sans MS';
   font-size: 20px;
   font-weight: bolder;
   color: black;
   position: absolute;
   top: 10%;
   left: 22.5%;
}
#case {
   height: 5%;
   width: 8%;
   background-image: linear-gradient(150deg, yellow, white, yellow);
   position: absolute;
   left: 23%;
   top: 5%;
   border-style:solid;
   border-width: 5px;
   border-color: black;
   border-radius: 10px;
}
#pokemonstexto {
   font-family: 'Comic Sans MS';
   font-size: 20px;
   font-weight: bolder;
   color: black;
   position: absolute;
   top: 10%;
   left: 18%;
}
#pokedex {
   height: 5%;
   width: 8%;
   background-image: linear-gradient(150deg, yellow, white, yellow);
   position: absolute;
   right: 23%;
   top: 5%;
   border-style:solid;
   border-width: 5px;
   border-color: black;
   border-radius: 10px;
}
#pokedextexto {
   font-family: 'Comic Sans MS';
   font-size: 20px;
   font-weight: bolder;
   color: black;
   position: absolute;
   top: 10%;
   left: 22.5%;
}
#pokemonoficial {
   height: 5%;
   width: 8%;
   background-image: linear-gradient(150deg, yellow, white, yellow);
   position: absolute;
   left: 3%;
   top: 5%;
   border-style:solid;
   border-width: 5px;
   border-color: black;
   border-radius: 10px;

}
#pokemon {
   font-family: 'Comic Sans MS';
   font-size: 20px;
   font-weight: bolder;
   color: black;
   position: absolute;
   top: 10%;
   left: 11%;
}