@font-face {font-family: "Pokemon"; src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); }
     
.App {
    background-image: url('../../fundo1.jpg');
    background-size: 100%;  
}

#header1 {
  background-image: url('./header.jpg');
  height: 100px;
  width: 100%;
  border-bottom-style: solid;

  border-bottom-color: red;
  border-bottom-width: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  clear: both;

  display: flex;
  flex-direction: column;
  align-items: center;
}
    
#nome {
  color:black;
  font-family:"Pokemon";
  font-size: 50px;
  margin-top:20px;
  text-shadow: 2px 2px 2px cyan;
  letter-spacing: 5px;

}

.botao{
  width: 95%;
  margin-top: 30px;
}

#selecionar{
  float: right;
  font-family: "Comic Sans MS";
  color: white;
  width: 150px;
  font-weight: bold;

  background-color: red;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 20px;
}

#voltar{
  float: left;
  font-family: 'Comic Sans MS';
  color: white;
  font-weight: bold;

  margin-right: 30px;

  width: 120px;  
  background-color: red;

  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 20px;
}

#principal{
  background-color: red;
  width: 200px;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 20px;
}

#quadrados{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 200px;
  width: 200px;
  background-color: blue;
  position: relative;
}

button#botoes {
  position: relative;
  bottom: -80px;
  color: black;
  font-family:"Comic Sans MS";
  background-color: white;
  border-color: black;
  border-radius: 60px;
}

#imgpoke {
  height: 100px;
  width: 100px;
}

.pokefotos {
  position: absolute;
  left: 13px;
  bottom: 30px;
  height: 170px;
  width: 180px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media screen and (min-width: 670px) and (max-width: 785px){
  #nome{
    font-size: 40px;
    text-align: center;
  }
}

@media screen and (min-width: 525px) and (max-width: 669px){
  #nome{
    font-size: 35px;
    text-align: center;
  }
  .botao{
    margin-top: 40px;
  }
  #voltar{
    margin-right: 5px;
  }
}

@media screen and (min-width: 421px) and (max-width: 524px){
  #nome{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
  }
  .botao{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #selecionar{
    float: inline-start;
  }
  #voltar{
    margin-right: 0px;
  }
}

@media screen and (min-width: 300px) and (max-width: 420px){
  #nome{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
  }
  .botao{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #selecionar{
    float: inline-start;
    margin-top: 10px;
  }
  #voltar{
    margin-right: 0px;
    margin-bottom: 10px;
  }
}