@font-face {font-family: "Pokemon"; src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); }

.square {
  height: 200px;
  width: 200px;
  background-color: blue;
  position: relative;
  
}
     
.App {
    background-image: url('../../fundo1.jpg');
    background-size: 100%;
    display: flex;    
}
    
h1#titulo {
  color:black;
  font-family:"Pokemon";
  font-size: 50px;
  position: unset;
  margin-top:50px;
  

}

button#botoes {
position: relative;
bottom: -80px;
color: black;
font-family:"Comic Sans MS";
background-color: white;
border-color: black;
border-radius: 60px;

}

#selecionar{
  float: right;
  font-family: "Comic Sans MS";
  color: black;
  margin-right: 250px;
  width: 120px;
  background-color:#ff0d0d;
  border-color:#ff0d0d;
  margin-top: 25px;
  position: unset;
 
}

#voltar{
  float: left;
  font-family: "Comic Sans MS";
  margin-left: 250px;
  width: 200px;
  margin-top: 25px;
  position: unset;

}

#principal{


margin-top: 25px;

}


div#quadrados{

  margin-top: 80px;
}

#imgpoke {
  height: 100px;
  width: 100px;

}

.pokefotos {
  position: absolute;
  left: 13px;
  bottom: 30px;
  height: 170px;
  width: 180px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
