@font-face {font-family: "Pokemon"; src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); }

.back{
  background-image: url('../../fundo1.jpg');
  background-size: 100%;
  display: flex;
  flex-direction: column;
}

button#adicionar{
    float: right;
    font-family: "Pokemon";
    position: absolute;
    width: 120px;
    top: 50px;
    background-color:#ff0d0d;
    border-color:#ff0d0d;
    border-radius: 60px;
    right: 500px;
  }
    
  h1 {
    color:black;
    font-family:"Pokemon";
    font-size: 150px;
    position: absolute;
    top: 50px;
    left: 600px;
  }

 #quadrs{
  height: 200px;
  width: 200px;
  background-color: yellow;
  border-radius: 30px;
  margin-top: 140px;
  margin-left: 5px;
  margin-right: 5px;
 }
   