@font-face {font-family: "Pokemon"; src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); }

.back{
  height: 100%;
  background-image: url('../../fundo1.jpg');
  background-size: 100%;
  display: flex;
  flex-direction: column;
}

#header2 {
  background-image: url('./header.jpg');
  height: 120px;
  width: 100%;

  border-bottom-style: solid;
  border-bottom-color: red;
  border-bottom-width: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px;
  clear: both;
  display: flex;
  justify-content: center;
}

.title{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

#titulo2 {
  text-align: center;
  color:black;
  font-family:"Pokemon";
  font-size: 70px;
  padding: 20px;
  text-shadow: 2px 2px 2px cyan;
  letter-spacing: 5px;
}

#adicionar{
  align-self: flex-end;
  font-family: "Comic Sans MS";
  width: 200px;
  background-color:#ff0d0d;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
  color: white;
  border-width: 5px;
}

.container_quadrados{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  background: none;
}

#quadrs{
  height: 200px;
  width: 200px;
  background-color: lightgreen;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
 }
   
.pokefotos {
  position: absolute;
  left: 13px;
  bottom: 30px;
  height: 170px;
  width: 180px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#np{
  position: absolute;
  bottom: 0px;
  font-family: "Comic Sans MS";
}

#quantidade{
  text-align: center;
  color:black;
  font-family:"Pokemon";         
  bottom: 0px; 
  width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 420px){
  #header2{
    width: 100%;
    background-size: 100%;
  }
  .title{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
  }
  #titulo2{
    padding: 7px;
    font-size: 45px;
  }
  #adicionar{
    align-self: flex-end;
    margin-top: 15px;
    width: 150px;
  }
  .container_quadrados{
    margin-top: 150px;
  }
}

@media screen and (min-width: 421px) and (max-width: 490px){
  #header2{
    width: 100%;
    background-size: 100%;
    height: 130px;
  }
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
  }
  #titulo2{
    text-align: center;
    padding: 7px;
    font-size: 50px;
  }
  #adicionar{
    align-self: flex-end;
    margin-top: 20px;
    width: 170px;
  }
  .container_quadrados{
    margin-top: 130px;
  }
}

@media screen and (min-width: 491px) and (max-width: 658px){
  #header2{
    width: 100%;
    background-size: 100%;
    height: 100px;
  }
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
  }
  #titulo2{
    text-align: center;
    padding: 7px;
    font-size: 50px;
  }
  #adicionar{
    align-self: flex-end;
    margin-top: 10%;
    width: 170px;
  }
  .container_quadrados{
    margin-top: 130px;
  }
}