@font-face {font-family: "Pokemon"; src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); }

.back{
  height: 100%;
  background-image: url('../../fundo1.jpg');
  background-size: 100%;
  display: flex;
  flex-direction: column;
}

.title{
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 90%;
}

#titulo2 {
  text-align: center;
  color:black;
  font-family:"Pokemon";
  font-size: 70px;
  margin-top: -20px;
margin-left: 150px;
text-shadow: 2px 2px 2px cyan;
letter-spacing: 5px;
}
#titulo3 {
  text-align: center;
  color:black;
  font-family:"Pokemon";
  font-size: 70px;
  margin-top: -20px;
margin-left: 150px;
text-shadow: 2px 2px 2px cyan;
letter-spacing: 5px;
}

#adicionar{
  align-self: flex-end;
  font-family: "Comic Sans MS";
  width: 200px;
  margin-top: 40px;
  background-color:#ff0d0d;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
  color: white;
  border-width: 5px;
}

.container_quadrados{
  margin-top: 250px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  background: none;
}

#quadrs{
  height: 200px;
  width: 200px;
  background-color: lightgreen;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
 }
   
.pokefotos {
  position: absolute;
  left: 13px;
  bottom: 30px;
  height: 170px;
  width: 180px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#np{
  position: absolute;
  bottom: 0px;
  font-family: "Comic Sans MS";
}

@media screen and (min-width: 300px) and (max-width: 645px){
  .title{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 90%;
  }
  #adicionar{
    align-self: flex-end;
    margin-top: 15px;
  }
}
#header2 {
  background-image: url('./header.jpg');
  position: absolute;
  top: 0;
  bottom: 90%;
  height: 100px;
  width: 100%;
  border-bottom-style: solid;

  border-bottom-color: red;
  border-bottom-width: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px;
  clear: both;
}

#header3 {
  background-image: url('./header.jpg');
  position: absolute;
  top: 0;
  bottom: 90%;
  height: 100px;
  width: 100%;
  border-bottom-style: solid;

  border-bottom-color: red;
  border-bottom-width: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px;
  clear: both;
}

#quantidade{
  text-align: center;
  color:black;
  font-family:"Pokemon";         
  bottom: 0px; 
  width: 100%;

}